body {
    background-color: #d1cab8 !important; /* Lichtere achtergrond */
}
.navbar {
    background-color: #c47139 ; /* Oranje achtergrond */
}
.logo_custom {
    width: 50px;
    height: 50px;
 
}
.nav-link {
    color: #f8f1e9 !important; /* Oranje tekst */
}
.navbar-brand {
    color: #e3e3e3 !important; /* Rode tekst voor de merknaam */
}

.nav {
    background-color: #ff6600; /* Oranje achtergrond */
}

.toon-data-custom {
    background-color: #ff6600; /* Oranje achtergrond */
    color: #f8f1e9 !important; /* Oranje tekst */
}
