<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultaten</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <nav class="navbar navbar-expand-lg ">
        <img src="{{url_for('static', filename='img/logo.png')}}"  class=" logo_custom">
        <a class="navbar-brand" href="#">barriertrack</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/piechart_maken">Genereer piechart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/data_overzicht">data tables</a>


        </div>
      </nav>
</head>
<body>
    <div class="container mt-5">
        <h2>Resultaat Piechart</h2>
        <!-- Toon de piechart afbeelding -->
        <img src="static/img/chart.png" alt="Piechart Resultaten" class="img-fluid">
        <!-- Knop om terug te keren naar het formulier -->
        <a href="/" class="btn btn-primary mt-3">Terug naar formulier</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
